<div class="wrapper">
  <div class="container">

    <header class="headfix">
      <div id="logo" class="bg-danger">

        <img src="../../assets/HavisLogo.png">

        <nav>

          <ul>
            <li><a class="text-primary" routerLink="/home">HOME</a></li>
            <li><a class="text-primary" routerLink="/about">ABOUT US</a></li>
            <li><a class="text-primary" routerLink="/services">SERVICES</a></li>
            <li><a class="text-primary" routerLink="/overview">OVERVIEW</a></li>
            <li><a class="text-primary" routerLink="/profile">PROFILE</a></li>
            <li><a class="text-primary" routerLink="/contact">CONTACT US</a></li>

          </ul>

        </nav>

      </div>

    </header>

    <h1>About</h1>

    <p>
      FGF is a leader in technology and services that helps businesses and communities thrive by advancing commerce and
      the financial world.
    </p>

    <p>

      For over 50 years, FGF has continued to drive growth for clients around the world by creating tomorrow’s
      technology, solutions and services to modernize today’s businesses and customer experiences.
    </p>

    <p>
      By connecting merchants, banks and capital markets, we use our scale, apply our deep expertise and data-driven
      insights, innovate with purpose to solve for our clients’ future, and deliver experiences that are more simple,
      seamless and secure to advance the way the world pays, banks and invests.
    </p>
  </div>
</div>
