<div class="wrapper">
  <div class="container">
    <header class="headfix">
      <div id="logo" class="bg-danger">
        
        <img src="../../assets/HavisLogo.png">
        
        <nav>
        
        <ul>
          <li><a class="text-primary" routerLink="/home">HOME</a></li>
          <li><a class="text-primary" routerLink = "/about">ABOUT US</a></li>
          <li><a class="text-primary" routerLink="/services">SERVICES</a></li>
          <li><a class="text-primary" routerLink="/overview">OVERVIEW</a></li>
          <li><a class="text-primary" routerLink="/profile">PROFILE</a></li>
          <li><a class="text-primary" routerLink="/contact">CONTACT US</a></li>
        
        </ul>
        
        </nav>
      
      </div>
      
    </header>
      
    <h1>Overview</h1>
    
    <p>
      The challenges created by these turbulent times present remarkable opportunities for community banks. The right
      strategies aligned with the proper supporting technology can separate the leaders from the rest of the pack. The way
      your bank responds to this economic crisis has the potential to win your customers’ trust and loyalty for many years
      to come.
    </p>
    
    <p>
    
      The larger institutions are taking action. Lloyds Bank, for example, sent tablets to 2,000 senior customers who lacked
      suitable devices for online banking and partnered with a digital training provider to help them get started and
      offered dedicated phone support.
    </p>
    
    <p>
      Community banks don’t need to match that level of investment, but they do need to adapt and extend solutions that best
      serve customers in times of limited branch hours and reduced customer contact.
    </p>
  </div>
  
  
</div>