<div class="wrapper">

  <div class="container">

    <header class="headfix">
      <div id="logo" class="bg-danger">

        <img src="../../assets/HavisLogo.png">

        <nav>

          <ul>
            <li><a class="text-primary" routerLink="/home">HOME</a></li>
            <li><a class="text-primary" routerLink="/about">ABOUT US</a></li>
            <li><a class="text-primary" routerLink="/services">SERVICES</a></li>
            <li><a class="text-primary" routerLink="/overview">OVERVIEW</a></li>
            <li><a class="text-primary" routerLink="/profile">PROFILE</a></li>
            <li><a class="text-primary" routerLink="/contact">CONTACT US</a></li>

          </ul>

        </nav>

      </div>

    </header>
    
    <h1>Services</h1>


    <h2>Corporate Banking Hardware Solutions</h2>
    <p>

      Making hardware investments can be an expensive and stressful experience, and having a technology partner with
      purchasing power can make a dramatic difference. As the world’s largest provider of financial services and
      payments technology, FIS can leverage our strong relationships with leading vendors to help your financial
      institution procure the equipment you need at the best possible price.
    </p>

    <h2>Cards and Network Solutions</h2>
    <p>
      FIS processes more than $9 trillion in payments worldwide annually, as well as supplies the underlying technology
      to process payments via many popular channels, from ACH to debit cards to prepaid cards. Leverage our scale and
      expertise to optimize your payments processing and reduce your costs to a minimum, while benefiting from the very
      best fraud prevention and support technologies. No matter your needs, we can customize our capabilities to ensure
      your payments processing is as efficient as possible.
    </p>
  </div>

</div>
