
  <div class="wrapper">
    <div class="container">

    <header class="headfix">
      <div id="logo" class="bg-danger">
        
        <img src="../../assets/HavisLogo.png">
        
        <nav>
        
        <ul>
          <li><a class="text-primary" routerLink="/home">HOME</a></li>
          <li><a class="text-primary" routerLink = "/about">ABOUT US</a></li>
          <li><a class="text-primary" routerLink="/services">SERVICES</a></li>
          <li><a class="text-primary" routerLink="/overview">OVERVIEW</a></li>
          <li><a class="text-primary" routerLink="/profile">PROFILE</a></li>
          <li><a class="text-primary" routerLink="/contact">CONTACT US</a></li>
        
        </ul>
        
        </nav>
      
      </div>
      
    </header>

    <h1>Corporate Profile</h1>

    <p>
      FIS is a leading provider of technology solutions for merchants, banks and capital markets firms globally. Our
      more than 55,000 people are dedicated to advancing the way the world pays, banks and invests by applying our
      scale, deep expertise and data-driven insights. We help our clients use technology in innovative ways to solve
      business-critical challenges and deliver superior experiences for their customers. Headquartered in Jacksonville,
      Florida, FIS is a Fortune 500® company and is a member of Standard & Poor’s 500® Index. To learn more, visit
      www.fisglobal.com. Follow FIS on Facebook, LinkedIn and Twitter (@FISGlobal).
    </p>
  </div>
  </div>

